body {
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  font-family: "Playfair Display", serif;

  background-position: center;
  color: rgb(225, 251, 225);
}

.container {
  border: 1px solid green;
}
.columns img {
  border: 2px solid green;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

.movie-jumbotron {
  background: rgba(0, 128, 0, 0.479);
  height: 100%;
  width: 100%;
  text-align: center;
}
.profile-picture {
  padding: 2rem;
  text-align: center;
}
.profile-picture img {
  margin-bottom: 2rem;
}
.display-movie-btn {
  margin: 0 auto;
  height: 100%;
  display: block;
}

.liked-row {
  text-align: center;
}
.spotify-widget {
  text-align: center;
}
