@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  font-family: "Playfair Display", serif;
  /* background-image: url("../../assets/images/smkrbackground.jpg"); */
  background-position: center;
  color: rgb(225, 251, 225);
  background-color: rgb(1, 7, 1);
}

.card {
  background: linear-gradient(
    to top left,
    rgba(0, 253, 0, 0.397),
    rgba(47, 71, 53, 0.739),
    rgba(34, 49, 42, 0.863),
    rgba(4, 141, 4, 0.287)
  );
  border: 3px solid rgb(49, 58, 49);
  border-radius: 10px;
  margin: 0;
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
input[type="text"] {
  border: none;
  color: rgb(191, 245, 207);
  font-size: 15px;
  background: rgba(0, 0, 0, 0.561);
  text-align: center;
}
input[type="email"] {
  border: none;
  color: rgb(191, 245, 207);
  font-size: 15px;
  background: rgba(0, 0, 0, 0.561);
  text-align: center;
}
input[type="password"] {
  border: none;
  font-size: 15px;
  color: rgb(191, 245, 207);
  background: rgba(0, 0, 0, 0.561);
  text-align: center;
}
input[type="number"] {
  border: none;
  font-size: 15px;
  color: rgb(191, 245, 207);
  background: rgba(0, 0, 0, 0.561);
  text-align: center;
}
input:focus {
  outline: none;
  text-decoration: underline;
  color: rgb(1, 19, 5);
  background: rgba(99, 133, 108, 0.561);
}
#form {
  background: transparent;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #01501cbb !important;
  border: transparent;
}
.btn-primary:hover {
  background-color: rgba(25, 80, 0, 0.603) !important;
  color: #c3ffd8bb !important;
  cursor: url(https://cur.cursors-4u.net/nature/nat-2/nat120.cur), auto !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .wrapper {
    background-size: 100%;
  }
  .card {
    width: 100%;
    margin-bottom: 0 auto;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 768px) {
  body {
    font-size: 0.7rem;
  }
  .wrapper {
    background-size: 100%;
  }
  .card {
    width: 100%;
    height: 100%;

    display: grid;
    align-items: center;
  }
  .myImage {
    height: 50px;
    width: 50px;
  }
}
